.gitattributes
.gitignore

MAD2/Project/*
MAD2/.hintrc
MAD2/.DS_Store
MAD2/Project/MAD2/application/__pycache__/*

.idea
.DS_Store
.venv
../../../.DS_Store
BA/.DS_Store

SC/id_rsa
SC/id_rsa.pub

TDS/.DS_Store

TDS/data.csv

workshop/name.basics.tsv